@import "@/styles/mixins";

.inner {
  @include container;
  padding-top: 80px;
  padding-bottom: 80px;
}

.blogCards {
  @include blogCards;
  flex-wrap: wrap;
}

.header {
  background-color: black;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;

  h1 {
    grid-column: 2 / span 10;

    @media (max-width: 767px) {
      grid-column: 1 / span 12;
    }
  }
}

.loadMoreSection {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;

  button {
    background-color: black;
    color: white;
    padding: 8px 24px;
    display: inline-block;
    border-radius: 50px;
  }
}
