.threeColumns {
  .columns {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

    @media (max-width: 910px) {
      flex-direction: column;
    }

    > div {
      flex-grow: 1;
      font-size: 40px;
      padding: 30px;
      display: flex;
      align-items: center;
      color: #fff;
      justify-content: center;
      flex-direction: column;

      img {
        margin-top: 30px;
      }

      @media (max-width: 910px) {
        font-size: 24px;
      }

      &.column1 {
        background-color: #ffcb77;
        width: 100vw;
      }

      &.column2 {
        background-color: #fe6d73;
        width: 100vw;
      }

      &.column3 {
        background-color: #8fb8de;
        width: 100vw;
      }
    }

    h2 {
      font-size: 60px;
      padding: 30px;
      width: 100%;
      color: #fff;
      text-align: left;
      position: absolute;
      z-index: 9;

      @media (max-width: 910px) {
        font-size: 40px;
        transform: rotate(-45deg);
        transform-origin: center;
        width: auto;
        margin: 27px -38px;
      }
    }
  }
}
