@import "@/styles/mixins";

.blogListingSmall {
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 1px solid black;

  h2 {
    margin-bottom: 24px;
    grid-column: 2 / span 10;
  }
}

.blogCards {
  @include blogCards;
}

.link {
  grid-column: 2 / span 10;
  text-align: center;
}

.view {
  display: inline-block;
  margin: auto;
  margin-top: 24px;

  @include button;
}

.inner {
  @include container;
}
