@mixin container {
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 10px;
  margin: auto;
}

@mixin blogCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-content: space-between;
  grid-column: 2 / span 10;

  @media (max-width: 767px) {
    grid-column: 1 / span 12;
    grid-template-columns: repeat(1, 1fr);
  }

  .blogCard {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    box-shadow: 2px 2px 4px -1px #a5a5a9;

    .image {
      width: 100%;
      aspect-ratio: 1;
      position: relative;
      flex-grow: 1;
      overflow: hidden;

      img {
        object-fit: cover;
        transition: all 0.4s ease;
      }

      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }

    > div {
      padding: 40px 24px;
    }

    h3 {
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
    }

    p {
      margin-top: 16px;
      line-height: 1.2;
      font-size: 16px;
    }
  }
}

@mixin button {
  padding: 8px 24px;
  background-color: black;
  color: white;
  border-radius: 50px;
  margin-top: 24px;
  display: inline-block;
  border: 1px solid black;
  transition: all 0.4s ease;

  &:hover {
    background-color: white;
    color: black;
  }
}

@mixin floatingNav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 16px;
  z-index: 999;

  .button {
    background-color: black;
    color: white;
  }
}

@mixin buttons {
  border-radius: 50px;
  background-color: white;
  border: 1px solid white;
  color: #000;
  padding: 8px 24px;
  margin-right: 16px;
  font-size: 16px;
  transition: padding 0.4s ease;

  &:hover {
    padding: 8px 34px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}
