@import "@/styles/mixins";

.container {
  width: 100vw;
  height: 100%;
  background-color: white;
  // box-shadow: 0px 5px 16px 0px #0000001a;
  position: relative;

  &.noShaddow {
    box-shadow: unset;
  }
}
