.columns {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;

  @media (max-width: 910px) {
    flex-direction: column;
  }

  > a {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    font-size: 50px;
    padding: 30px;
    display: flex;
    align-items: center;
    color: #000;
    justify-content: center;
    flex-direction: column;
    position: relative;

    img {
      object-fit: cover;
      z-index: 0;
      opacity: 0.4;
    }

    span {
      position: relative;
      z-index: 1;
    }

    @media (max-width: 910px) {
      font-size: 30px;
    }

    &.column1 {
      background-color: #fff;
      width: 100vw;
      z-index: 3;
    }

    &.column2 {
      background-color: #fff;
      width: 100vw;
      z-index: 2;
    }

    &.column3 {
      background-color: #fff;
      width: 100vw;
      z-index: 1;
    }

    &.column4 {
      background-color: #fff;
      width: 100vw;
      z-index: 0;
    }
  }

  h2 {
    font-size: 60px;
    padding: 30px;
    width: 100%;
    color: #000;
    text-align: left;
    position: absolute;
    z-index: 9;

    @media (max-width: 910px) {
      font-size: 40px;
      transform: rotate(-45deg);
      transform-origin: center;
      width: auto;
      margin: 27px -38px;
    }
  }
}
