.contactPanel {
  min-height: 100vh;
  background-color: #227c9d;
  z-index: 919;
  position: relative;

  h2 {
    font-size: 80px;
    color: #fff;
    margin-bottom: 30px;
  }

  span {
    color: #fff;
    font-size: 26px;
  }
}
